# SIDPlayer Playlist File
# Formato: /percorso/completo/file.sid[:subsong]
# Le linee che iniziano con # sono commenti
# I file vengono riprodotti in ordine casuale (shuffle)

# Esempio:
# /Users/ezrad/Music/C64/Commando.sid
# /Users/ezrad/Music/C64/LastNinja.sid:2
# ~/Music/SID/Hubbard_Rob/Commando.sid:1
# ~/Music/SID/Hubbard_Rob/Commando.sid:2
# ~/Music/SID/Hubbard_Rob/Commando.sid:3

# Sottosong:
# Molti file SID contengono multiple tracce (subsongs)
# Specifica il numero dopo i due punti (es. file.sid:2)
# Se non specificato, usa il subsong 1
